<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="keywords" content="HTML 5, CSS 3, JavaScript,JQuery, AngularJs"/>
<meta name="description" content="Dynamic web development">
<meta name="author" content="Sylvain">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Congenital Syphilis Case Report</title>
<style>
</style>
<link rel="stylesheet" type='text/css' href="styles.css"/>
</head>
<body>
    <article class="col-8">
      <h3>CONGENITAL SYPHILIS (CS) CASE INVESTIGATION AND REPORT</h3>
      <form action="caseinformation.py" method="post">
      <table>
        <tr>
          <th> Report date to health dept.</th>
          <td><input type="date" name="repdate"/></td>
          <td></td>
          <td><input name="repdate" type="checkbox"  id="repdate"/>Unk</td>
          <th> Reporting state FIPS code:</th>
          <td><input type="text" name="fipcode"/></td>
          <td></td>
          <td></td>
          <td><input name="fipcode" type="checkbox"  id="fipcode"/>Unk</td>
          <th> Reporting country FIPS code:</th>
          <td><input type="text" name="fipcode"/></td>
          <td></td>
          <td></td>
          <td><input name="fipcode" type="checkbox"  id="fipcode"/>Unk</td>
        </tr>
        <table>
        <tr>
          <th>Mother's state FIPS code:</th>
          <td><input type="text" name="fipcode" /></td>
          <td></td>
          <td><input name="fipcode" type="checkbox" id="fipcode" />Unk</td>
          <th>Mother’s Country of residence:(leave blank if USA)</th>
          <td><input type="text" name="country" /></td>
        </tr>
        <tr>
          <th>Mother’s residence county FIPS code:</th>
          <td><input name="fipcode" type="checkbox" id="fipcode" />Unk</td>
          <th>Mother’s residence ZIP code:</th>
          <td><input name="zip" type="checkbox" id="zip" />Unk</td>
          <th>Mother’s date of birth:</th>
          <td><input name="dob" type="checkbox" id="dob" />Unk</td>
          <th>Mother’s obstetric history:</th>
        </tr>
        <tr>
          <th> Last menstrual period (LMP) (before delivery):</th>
          <td><input name="dob" type="checkbox"  id="dob"/>Unk</td>
          <th> Indicate date of first prenatal visit:</th>
          <td><input name="dob" type="checkbox"  id="dob"/>No prenatal care (Go to Q12)</td>
          <td><input name="dob" type="checkbox"  id="dob"/>Unk</td>
          <th> Indicate trimester of first prenatal visit:</th>
          <td><input name="fipcode" type="checkbox" id="fipcode" />1.1st trimester </td>
          <td><input name="fipcode" type="checkbox" id="fipcode" />2.2nd trimester </td>
          <td><input name="fipcode" type="checkbox" id="fipcode" />3.3rd trimester </td>
          <td><input name="fipcode" type="checkbox" id="fipcode" />Unk </td>
        </tr>
        </table>
        <table>
        <tr>
          <th>Mother's ethnicity:</th>
          <td><input name="ethnicity" type="checkbox" id="ethnicity" />Hispanic or Latino</td>
          <td><input name="ethnicity" type="checkbox" id="ethnicity" />Non-Hispanic or Latino</td>
          <td><input name="ethnicity" type="checkbox" id="ethnicity" />Unk</td>
        </tr>
        <tr>
          <th>Mother's race:</th>
          <td><input name="race" type="checkbox" id="race" />White</td>
          <td><input name="race" type="checkbox" id="race" />American Indian/Alaska Native</td>
          <td><input name="race" type="checkbox" id="race" />Asian</td>
          <td><input name="race" type="checkbox" id="race" />Native Hawaiian or Other Pacific Islander</td>
          <td><input name="race" type="checkbox" id="race" />Black or African American</td>
          <td><input name="race" type="checkbox" id="race" />Other</td>
          <td><input name="race" type="checkbox" id="race" />Unk</td>
        </tr>
        </table>
        <table>
        <tr>
          <th>Classification:</th>
          <td><input name="classification" type="checkbox" id="classification" />Not a case</td>
          <td><input name="classification" type="checkbox" id="classification" />Confirmed case</td>
          <td><input name="classification" type="checkbox" id="classification" />Syphilitic stillbirth</td>
          <td><input name="classification" type="checkbox" id="classification" />Probable case</td>
        </tr>
      </table>
    </article>
  </form>
</body>
</html>
